body{
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
  box-sizing: border-box;
}
header,footer{
  width: 100%;
  padding: 10px;
  margin: 0;
  color: #fff;
  background-color: #800080;
}
footer{
  position: absolute;
  bottom: 0px;
}
.container{
  margin: 50px 15px;
}
table{
  border-collapse: collapse;
}
table th,table td{
  border: 1px solid black;
  padding: 10px 20px;
}
table th{
  background-color: #CCCCCC;
}
table td{
  background-color: #EEEEEE;
  text-align: center;
}
input{
  width: 100%;
  padding: 5px;
  font-size: 16px;
}
input[type=submit]{
  width: auto;
}
table td p{
  margin: 0;
  padding: 0;
}
textarea{
  width: 350px;
  height: 200px;
  font-size: 16px;
}
ul li{
  list-style: none;
  padding-left: 0px;
}
a{
  text-decoration: none;
}
.notice{
  background-color: #ccf;
  border:2px solid #6A5ACD;
  padding: 15px;
  width: 400px;
  text-align: center;
}